# User-specific configuration
USER_ID=unique-username

# AWS Secrets
AWS_ACCESS_KEY_ID=todo
AWS_SECRET_ACCESS_KEY=todo
AWS_SESSION_TOKEN=todo
AWS_REGION=us-east-1

# S3
# AWS_S3_BUCKET_NAME=bitovi-ai-agents-workshop
# AWS_S3_REGION=us-east-2

# AWS Bedrock Foundation Models
AWS_MODEL_ID=openai.gpt-oss-safeguard-120b
AWS_LOW_MODEL_ID=openai.gpt-oss-safeguard-20b
AWS_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

# AWS AgentCore Memory
AWS_BEDROCK_AGENTCORE_MEMORY_REGION=us-east-2
AWS_BEDROCK_AGENTCORE_MEMORY_ID=Riot_Bitovi_Temporal_AI_Workshop_Memory-cPS5wpCWII

# Temporal
TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=bitovi-ai-agents-workshop

# Postgress
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432
# POSTGRES_DATABASE=workshop
# POSTGRES_JDBC_CONNECTION_STRING=jdbc:postgresql://localhost:5432/workshop
# POSTGRES_USERNAME=dbuser
# POSTGRES_PASSWORD=dbpassword

# Qdrant
# QDRANT_HOST=localhost
# QDRANT_PORT=6334
# QDRANT_PORT_HTTP=6333
# QDRANT_PORT_GRPC=6334

# MCP Server
# MCP_SERVER_BASE_URL=http://localhost:8090
# MCP_SERVER_SSE_URL=http://localhost:8090/sse

# Agent Chat Server
AGENT_CHAT_SERVER_BASE_URL=http://localhost:3000

# Support Agent Server
SUPPORT_AGENT_SERVER_BASE_URL=http://localhost:4000

# Brave
BRAVE_SEARCH_API_KEY=todo