AWS_ACCESS_KEY_ID=TODO
AWS_SECRET_ACCESS_KEY=TODO
AWS_SESSION_TOKEN=TODO

AWS_REGION=us-east-2
AWS_S3_BUCKET_NAME=bitovi-ai-agents-workshop

AWS_MODEL_ARN=arn:aws:bedrock:us-east-2:755521597925:inference-profile/us.anthropic.claude-3-7-sonnet-20250219-v1:0
AWS_MODEL_ID=us.anthropic.claude-3-7-sonnet-20250219-v1:0

AWS_EMBEDDING_MODEL_ARN=arn:aws:bedrock:us-east-2::foundation-model/amazon.titan-embed-text-v2:0
AWS_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

POSTGRES_JDBC_CONNECTION_STRING=jdbc:postgresql://localhost:5432/workshop
POSTGRES_USERNAME=dbuser
POSTGRES_PASSWORD=dbpassword

QDRANT_HOST=localhost
QDRANT_PORT=6334

TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=bitovi-ai-agents-workshop

MCP_SERVER_BASE_URL=http://localhost:8090
MCP_SERVER_SSE_URL=http://localhost:8090/sse

OPENAI_API_KEY=TODO
OPENAI_MODEL=gpt-4o
OPENAI_API_BASE=https://api.openai.com/v1

USER_ID=TODO