# User-specific configuration
USER_ID=todo

# AWS Secrets
AWS_ACCESS_KEY_ID=todo
AWS_SECRET_ACCESS_KEY=todo
# AWS_SESSION_TOKEN=todo
AWS_REGION=todo

# AWS AgentCore Memory
AWS_BEDROCK_AGENTCORE_MEMORY_REGION=todo
AWS_BEDROCK_AGENTCORE_MEMORY_ID=todo

# AgentCore Memory vs Local Memory Extraction
# LOCAL_MEMORY_EXTRACTION=false

# Brave Search (Optional)
# BRAVE_SEARCH_API_KEY=todo

# ---- Everything below here should not need to be modified ----

# AWS Bedrock Foundation Models
AWS_MODEL_ID=openai.gpt-oss-safeguard-120b
AWS_LOW_MODEL_ID=openai.gpt-oss-safeguard-20b
AWS_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

# Temporal
TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=bitovi-ai-agents-workshop

# Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=workshop
POSTGRES_JDBC_CONNECTION_STRING=jdbc:postgresql://localhost:5432/workshop
POSTGRES_USERNAME=dbuser
POSTGRES_PASSWORD=dbpassword

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6334
QDRANT_PORT_HTTP=6333
QDRANT_PORT_GRPC=6334

# MCP Server
MCP_SERVER_BASE_URL=http://localhost:8090
MCP_SERVER_SSE_URL=http://localhost:8090/sse

# Agent Chat Server
AGENT_CHAT_SERVER_BASE_URL=http://localhost:3000

# Support Agent Server
SUPPORT_AGENT_SERVER_BASE_URL=http://localhost:4000
