node_modules
build
.env
**/*/*.class
.DS_Store

llm-workflows-temporal-java/target/
llm-workflows-temporal-java/config.properties

example-langchain/target/
example-langchain/config.properties

mcp-server-java/target/
mcp-server-java/config.properties
