AWS_ACCESS_KEY_ID=TODO
AWS_SECRET_ACCESS_KEY=TODO
AWS_SESSION_TOKEN=TODO

AWS_REGION=TODO

AWS_MODEL_ARN=arn:aws:bedrock:us-east-2::foundation-model/meta.llama3-1-8b-instruct-v1:0
AWS_MODEL_ID=meta.llama3-1-8b-instruct-v1:0

AWS_EMBEDDING_MODEL_ARN=arn:aws:bedrock:us-east-2::foundation-model/amazon.titan-embed-text-v2:0
AWS_EMBEDDING_MODEL_ID=amazon.titan-embed-text-v2:0

POSTGRES_JDBC_CONNECTION_STRING=TODO
POSTGRES_USERNAME=TODO
POSTGRES_PASSWORD=TODO

QDRANT_HOST=localhost
QDRANT_PORT=6334

TEMPORAL_HOST_PORT=localhost:7233
TEMPORAL_NAMESPACE=default
TEMPORAL_TASK_QUEUE=bitovi-ai-agents-workshop

USER_ID=TODO
